.container {
  .userList {
    max-height: 500px;
    overflow-y: auto;
    .userItem {
      display: flex;
      align-items: center;
      margin-top: 5px;
      border-bottom: 1px solid #EEEEEE;
      padding: 5px 0 5px 0;
      position: relative;
      .status {
        margin-left: 10px;
      }
      .online {
        color: green;
      }
      .inGame {
        color: orange;
      }
      .inRoom {
        color: #4cbae5;
      }
      .offline {
        color: gray;
      }
      .invite {
        position: absolute;
        right: 10px;
        cursor: pointer;
      }
    }
  }
}
