body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@mixin flexCommon {
  display: flex;
  position: relative;
  top: 300px;
  justify-content: center;
}

.flex-container-col {
  @include flexCommon();
  flex-direction: column;
}
.flex-container-row {
  @include flexCommon();
}
